###############
## Build results
###############
bin/
obj/
out/
Generated\ Files/

###############
## User-specific files
###############
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

###############
## VS Code
###############
.vscode/

###############
## Rider
###############
.idea/
*.sln.iml

###############
## Visual Studio
###############
.vs/
.vsconfig

###############
## ASP.NET / Blazor
###############
wwwroot/dist/
wwwroot/node_modules/
node_modules/
dist/
*.db
*.db-shm
*.db-wal

###############
## Logs and local databases
###############
*.log
*.tlog
*.svclog
*.pdb
*.mdb
*.sqlite
*.sqlite3

###############
## Others
###############
*.tmp
*.bak
*.cache
*.pid
*.publish.xml
*.userprefs
*.DS_Store
Thumbs.db
desktop.ini
_ReSharper*/
*.[Rr]e[Ss]harper
*.ncrunch*
*.localhistory/
*.orig

###############
## Test results
###############
TestResults/
*.coverage
*.coveragexml
*.testresults

###############
## Packages
###############
*.nupkg
*.snupkg
packages/
*.nuspec
.project.lock.json
project.lock.json
artifacts/

###############
## dotnet tools
###############
.dotnet-tools.json
